@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
 box-sizing: border-box;
}

.flipped-right {
  transform: scaleX(-1);
}

.sidebar{
 width: 320px;
 min-width: 320px;
 max-width: 384px;
 background-color: white;
 border-right: #e5e7eb;
 display: flex;
 flex-direction: column;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modal-content {
  background-color: white;
  border-radius: 0.5rem;
  max-width: 448px;
  width: 100%;
  margin: 0 1rem;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-header {
  border-bottom: 1px solid #e5e7eb;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


